<div class="calculator">
    <div class="header">
        <h2>CALCULATOR</h2>
    </div>
    <div class="inputarea">
        <input disabled class="inputfield" type="text" value="{{value}}">
    </div>
    <div class="btn-container">
        <div class="row">
            <button *ngFor="let num of numberGroups" (click)="onbuttonpress(num)" class="btn"
                type="button">{{num}}</button>
        </div>
        <div class="row">
            <button *ngFor="let num of numberGroups1" (click)="onbuttonpress(num)" class="btn"
                type="button">{{num}}</button>
        </div>
        <div class="row">
            <button *ngFor="let num of numberGroups2" (click)="onbuttonpress(num)" class="btn"
                type="button">{{num}}</button>
        </div>
        <div class="row">
            <button *ngFor="let num of numberGroups3" (click)="onbuttonpress(num)" class="btn"
                type="button">{{num}}</button>
        </div>
    </div>
</div>