@mixin calculatormedia {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(auto-fit,3);
}

@mixin buttonformat {
  display: inline-grid;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  place-items: center;
}

h2 {
    margin-left: 40%;
}

.calculator {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 30% 40% 30%;

  .header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .inputarea {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
    text-align: right;
    padding: 5px;
  }

  .inputfield {
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(149, 148, 149);

  }

  .btn-container {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .btn:hover  {
     background:linear-gradient(to right, rgb(85, 65, 65), rgb(109, 192, 219));  
     box-shadow:white;
     box-shadow: 4px 4px 12px 4px;
  }

  .btn-container {
    background-color: #504d4d;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
}

.btn {
  background:linear-gradient(to right, rgb(223, 149, 149), lightblue); 
  grid-template-columns: repeat(1,60px);
  grid-template-rows:repeat(1,60px);
  font-size: 28px;
  @include buttonformat;
}

@media screen and (min-width: 1395px) {
  .calculator {
    @include calculatormedia;
  }
  
  
  .btn {
    display: inline-grid;
    grid-template-columns: 4;
    grid-auto-flow: column;
    grid-template-columns: repeat(1,55px);
    grid-template-rows:repeat(1,55px);
    margin: 20px;
    padding: 18px;
}
}

@media screen and (max-width: 1162px) {
  .calculator {
    @include calculatormedia;
  }
  
  .btn {
    grid-template-columns: repeat(1,40px);
    grid-template-rows:repeat(1,40px);
    font-size: 23px;
    @include buttonformat;
  }
}

@media screen and (max-width: 968px) {
  .btn {
    grid-template-columns: repeat(1,25px);
    grid-template-rows:repeat(1,25px);
    font-size: 20px;
    @include buttonformat;
  }
}

@media screen and (max-width: 824px) {

  .btn {
    display: inline-grid;
    grid-template-columns: repeat(1,20px);
    grid-template-rows:repeat(1,20px);
    margin: 8px;
    padding: 12px;
    font-size: 18px;
  }
}

@media screen and (max-width: 684px) {
  .calculator {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 20% 60% 20%;
  }
  .btn {
    display: inline-grid;
    grid-template-columns: repeat(1,20px);
    grid-template-rows:repeat(1,20px);
    grid-auto-flow: column;
    margin: 5px;
    padding: 12px;
    font-size: 18px;
}
}


@media screen and (max-width: 384px) {
  .calculator {
    @include calculatormedia;
  }
  .btn {
    display: inline-grid;
    grid-template-columns: repeat(1,20px);
    grid-template-rows:repeat(1,20px);
    grid-auto-flow: column;
    margin: 5px;
    padding: 12px;
    font-size: 18px;
}
.calculator {
  display: inline-block; 
  

  .inputfield {
    width:80vw;
  }

  .btn-container {
    width:80vw;
    place-items: center;
  }
}
}
