.main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(172, 139, 172);
}

h2 {
    margin-left: 40%;
}

.calculator {
   display: grid;
   grid-template-rows: auto auto auto auto auto;
   background-color: rgb(228, 235, 226);
   justify-content: center;
}
.calculator .btn-container{
    background-color: rgb(166, 231, 240);
    border: 2px solid black;
    border-radius: 10px;
}
.btn {
    margin: 17px;
    padding: 14px 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
    border : 1px solid black;
    margin-left: 40px;
}

.calculator input {
  font-size: 46px;
  background-color: rgb(5, 19, 16);
  color: #fff;
  text-align: right;
  border-radius: 10px;
}

